* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #e6e7fa;
}

/* Basic Reset over */
/* Container Styling Starts */
.container {
    display: flex;
    justify-content: space-between; 
}

/* Container Styling Ends */

/* Header Styling Starts */
/* Left Side of Header Styling Starts */
.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid #ccc;
}
#BMC
{
    font-size: medium;
    font-weight: medium;
    color: rgb(70, 69, 69);
}

.account-section .material-symbols-outlined {
    color:#a8f3e7;
    cursor: pointer;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}


.left-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header img {
    width: 32px;
    height: auto;
    margin-left: 5px;
    margin-right: 3px;
    border-radius: 50%;
}

/* left side of header styling ends */

/* Right Side of Header Styling Starts */
.account-section {
    height: 25px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
    background-color: #fff;
    font-size: 10px;
}

.account-section-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ebe8e8;
    color: #655b5b;
    margin-right: 5px;
    font-weight: bold;
    font-size: 80%;
    cursor: pointer;
}

.account-details {
    display: flex;
    flex-direction: column;
}

.account-name {
    font-weight: bold;
    color: #333;
}

.account-title {    
    color: #b7b6b6;
    font-size: 10px;
}

/* Right Side of Header Styling Ends */
/* Header Styling Ends */


/* Sidebar Styling Starts */
.sidebar {
    width: 270px;
    padding: 10px;
}


.top-sidebar {
    width: 95%;
    height: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.profilepic
{
    display: flex;
    align-items: center;
    
}
/*Top Sidebar Styling Starts */
/* Sidebar Avatar Styling Starts */
.top-sidebar-avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ebe8e8;
    color: #655b5b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: medium;
    margin-right: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Sidebar Avatar Styling Ends */

.top-sidebar-name {
    font-weight: bold;
    color: #333;
    font-size: 11px;
}


/*Top Sidebar Styling Ends */

/* Sidebar Links Styling Starts */
.sidebar-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 5px 5px;
    height: 100%;
    margin-top: 10px;
    border-top-left-radius: 4px;
    background-color: #fff;
}

.sidebar-links li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15px;
    padding: 0px 10px;
    margin: 8px 2px;
    border-radius: 4px;
    font-weight: 600;
    text-indent: 4px;
}

#currently-selected
{
    background-color: #d5d7ff30;
    cursor: pointer;
    padding:5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#currently-selected a
{
    color: #3d2828;
}
.sidebar-links a {
    text-decoration: none;
    font-size: 11px;
    color: #948e8e;
}

.sidebar-links .material-symbols-outlined {
    color: white;
    display: none;
}

.sidebar-links li:hover{
    padding: 5px;
    background-color: #d5d7ff30;
    cursor:pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* Sidebar Links Styling Ends */
/* Sidebar Styling Ends */



/*Main Content Styling Starts */
/*Timeline Header Styling Starts */

.timeline-header {
    display: flex;
    height: 11px;
    justify-content: space-between;
    align-items:center ;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 5px;
}

.interactive-ribbon
{
    display: flex;
    gap:12px;
    color:rgb(82, 82, 165);
}
.actions
{
    background-color: #f5f5f5;
    border-radius: 3px;
}

.timeline-header .actions button {
    width: fit-content;
    height: fit-content;
    padding: 8px 5px;
    border-radius: 4px; 
    border:none;
    color: #000;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
}


.timeline-header .actions button:hover {
    background-color: #fff;
    padding: 7px 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*Timeline Header Stlying ends*/


/*Timeline Styling Starts */
.main-content {
    width: 100%;
    padding: 5px;
}

.navigation
{
    height:fit-content ;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    padding: 5px;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 30vh;
    height: 30px;
    padding: 10px;
    border: 1px solid #e0dfdf;
    border-radius: 4px;
}

.search-bar .fas.fa-search {
    position: absolute;
    left: 10px;
    color: #ccc;
    cursor: pointer;
}
.search-bar input {
    width: 30vh;
    height: 30px;
    padding: 10px;
    border: 1px solid #e0dfdf;
    border-radius: 4px;
}

.search-bar input
.date-range
{
    display: flex;
    align-items: center;
    gap:10px;
}


.Range
{
    justify-content: space-between;
    display: inline-flex;
    align-items: center;
    height: 23px;
}
.Range, .Filter
{
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: none;
    color: #655b5b;
    font-size: 10px;
    font-weight: medium;
    border: 1px solid;
    border-color: #333;
}

.Range:hover,.Filter:hover {
    cursor:pointer;
}

.timeline {
    width: 97%;
    padding: 10px;
    background: white;
    margin-top: 11px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 96%;
}

.relate
{
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.vertical-timeline {
    margin-top: 30px;
    margin-left: 10px;
    position: relative;
    z-index: 0;
}

.vertical-timeline-block
{
    margin: 35px 2px ;
    background-color: #f0e7e7;
    border-radius: 50%;
    color:rgb(146, 146, 243);
    padding: 4px;
}

.vertical-timeline-block:nth-of-type(1),
.vertical-timeline-block:nth-of-type(7)
{
    margin:0px 2px;
}

.vertical-timeline-block:nth-of-type(6) 
{
    margin-top: 50px;
}

.vertical-timeline:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 90%;
    background-color: #ccc;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.timeline-content{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 5px;
}

.timeline-content h3 {
    font-size: 11px;
    font-weight: bolder;
    color: #3d2828;
    padding-left: 5px;
}

.timeline-item {
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 98%;
}


.consulation-details {
    font-size: 11px;
    color: #b7b6b6;
    margin-bottom: 5px;
}

.type-of-consultation {
    color:#000;
    font-weight: bolder;
}

.date-time,.Doctor
{
    font-size: 11px;
    color:#b7b6b6;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 20px;
    }

    .timeline-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .timeline-header .actions {
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
    }

    .timeline {
        width: 100%;
    }
}





